<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>
<h2>Hi, <%= params[:nickname] %></h2>
<h2>Your Weight <%= @weight %></h2>
<h2>Your Height <%= @height %></h2>
<h2>Your Bmi: <%= @bmi %></h2>
