<!DOCTYPE html>
<html>
<head>
  <title>Hello</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    .nav li, a {
      display: inline-block;
      padding-right: 5px;
    }
  </style>
</head>
<body>
<ul class="nav">
  <li><a href="pages/about">About</a></li>
  <li><a href="pages/contact">Contact</a></li>
  <li><a href="pages/faq">FAQ</a></li>
  <li><a href="pages/home">Home</a></li>
  <li><a href="pages/math">Math</a></li>
</ul>
<%= yield %>

</body>
</html>
